mat-card-header {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

h1 {
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    white-space: wrap;
    margin: 1%;
}

.h1 {
    text-align: start;
    display: flex;
    white-space: wrap;
    text-align: start;
    width: 14vw;
    margin-top: 2%;
    margin-bottom: 2%;
}

table {
    width: 100%;
    text-align: center;
}

th {
    width: 100%;
    align-content: center;
    text-align: center;
    background: chocolate;
}

.driver {
    border-radius: 50%;
}

img {
    width: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
}

mat-expansion-panel {
    margin-bottom: 5%;
}