<div style="width: 100%; height: 100%; ">

    <div style="width: 100%; margin-bottom: 2%; " fxLayoutAlign="center center">
        <mat-card style="width: 100%; margin-bottom: 2%; margin: 2%;">
            <mat-card-header>
                <h1>Histórico de Incidencias</h1>
            </mat-card-header>
            <hr>
            <canvas width="550 " height="100 " baseChart [datasets]="lineChartData " [labels]="lineChartLabels " [colors]="lineChartColors " [chartType]="lineChartType "></canvas>
        </mat-card>
    </div>

    <div style="width: 100%; height: 100%;" fxLayoutAlign="space-around " style="margin: 2%;">

        <mat-card>
            <mat-card-header>
                <h1>Jornada Laboral</h1>
            </mat-card-header>
            <hr>
            <canvas width="400 " height="400 " baseChart [data]="doughnutChartData " [labels]="doughnutChartLabels " [chartType]="doughnutChartType ">
            </canvas>
        </mat-card>

        <div>
            <mat-card>
                <mat-card-header>
                    <h1>Uso de Apps No Autorizadas</h1>
                </mat-card-header>
                <hr>
                <div style="display: block">
                    <canvas width="700 " height="400 " baseChart [datasets]="barChartData" [labels]="barChartLabels" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </mat-card>
        </div>
    </div>
</div>