<div style="width: 100%; height: 100%;  margin: 1%;" fxLayoutAlign="center center">
    <div style="width: 100%; height: 100%; ">
        <mat-card-content>
            <mat-card style="background: #e3f3fd;">
                <div fxLayoutAlign="space-around">
                    <div>
                        <div fxLayoutAlign="center center">
                            <h1>Check In</h1>
                        </div>
                        <div style="width: 30vw; height: auto; ">
                            <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

                                <ng-container matColumnDef="usuario">
                                    <th mat-header-cell *matHeaderCellDef> Usuario </th>
                                    <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                                </ng-container>

                                <ng-container matColumnDef="entrada">
                                    <th mat-header-cell *matHeaderCellDef> Entrada </th>
                                    <td mat-cell *matCellDef="let element"> {{element.entrada}} </td>
                                </ng-container>

                                <ng-container matColumnDef="ubicacion">
                                    <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                            </table>
                        </div>
                    </div>

                    <div>
                        <div fxLayoutAlign="center center">
                            <h1>Check Out</h1>
                        </div>
                        <div style="width: 30vw; height: auto;">
                            <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">
                                <ng-container matColumnDef="usuario">
                                    <th mat-header-cell *matHeaderCellDef> Usuario </th>
                                    <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                                </ng-container>


                                <ng-container matColumnDef="salida">
                                    <th mat-header-cell *matHeaderCellDef> Salida </th>
                                    <td mat-cell *matCellDef="let element"> {{element.salida}} </td>
                                </ng-container>

                                <ng-container matColumnDef="ubicacion">
                                    <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
                                </ng-container>



                                <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 1%;" fxLayoutAlign="center center">
                    <button (click)="openDialogDetailsUser()" mat-raised-button style="background: #00acee;  ">Validar Jornada Laboral</button>
                </div>
            </mat-card>

            <div>
                <mat-card style="background: #e3f3fd;">
                    <div fxLayoutAlign="center center" style="margin-top: 1%; margin-bottom: 1%;">
                        <h1>Detecciones</h1>
                    </div>
                    <div fxLayoutAlign="center center">
                        <mat-form-field appearance="fill" style="width: 50%;">
                            <mat-label>Tipo de Alerta</mat-label>
                            <mat-select>
                                <mat-option value="one">Detección de Apps no autorizadas</mat-option>
                                <mat-option value="two">Detección de usuarios en llamadas</mat-option>
                                <mat-option value="two">Detección de exceso de velocidad</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayoutAlign="center center">
                        <div style="width: 100%; height: 100%;" fxLayoutAlign="center center">
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                                <ng-container matColumnDef="usuario">
                                    <th mat-header-cell *matHeaderCellDef> Usuario </th>
                                    <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                                </ng-container>


                                <ng-container matColumnDef="alerta">
                                    <th mat-header-cell *matHeaderCellDef> Tipo de Alerta </th>
                                    <td mat-cell *matCellDef="let element"> {{element.alerta}} </td>
                                </ng-container>


                                <ng-container matColumnDef="velocidad">
                                    <th mat-header-cell *matHeaderCellDef> Velocidad </th>
                                    <td mat-cell *matCellDef="let element"> {{element.velocidad}} </td>
                                </ng-container>


                                <ng-container matColumnDef="ubicacion">
                                    <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
                                </ng-container>

                                <ng-container matColumnDef="fecha">
                                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                                </ng-container>

                                <ng-container matColumnDef="detalle">
                                    <th mat-header-cell *matHeaderCellDef> Detalle </th>
                                    <td mat-cell *matCellDef="let element"> {{element.detalle}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                </mat-card>

                <!-- <mat-card style="background: #e3f3fd;">
                    <div style="width: 100%; height: 100%;">

                        <div fxLayoutAlign="center center" style="margin-top: 1%; margin-bottom: 1%;">
                            <h1>Detalle de Usuarios en Jornada Laboral </h1>
                        </div>

                        <div style="width: 100%; height: 100%;" fxLayoutAlign="center center">
                            <table mat-table [dataSource]="dataSource4" class="mat-elevation-z8">

                                <ng-container matColumnDef="usuario">
                                    <th mat-header-cell *matHeaderCellDef (click)="openDialogEmployeeDetail()"> Usuario </th>
                                    <td mat-cell *matCellDef="let element" (click)="openDialogEmployeeDetail()"> {{element.usuario}} </td>
                                </ng-container>

                                <ng-container matColumnDef="ingreso">
                                    <th mat-header-cell *matHeaderCellDef (click)="openDialogEmployeeDetail()"> Fecha de Ingreso </th>
                                    <td mat-cell *matCellDef="let element" (click)="openDialogEmployeeDetail()"> {{element.ingreso}} </td>
                                </ng-container>

                                <ng-container matColumnDef="actividad">
                                    <th mat-header-cell *matHeaderCellDef (click)="openDialogEmployeeDetail()"> Actividad en Teléfono </th>
                                    <td mat-cell *matCellDef="let element" (click)="openDialogEmployeeDetail()"> {{element.actividad}} </td>
                                </ng-container>

                                <ng-container matColumnDef="velocidad" (click)="openDialogEmployeeDetail()">
                                    <th mat-header-cell *matHeaderCellDef (click)="openDialogEmployeeDetail()"> Promedio de Velocidad </th>
                                    <td mat-cell *matCellDef="let element"> {{element.velocidad}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
                            </table>
                        </div>

                    </div>
                </mat-card> -->
            </div>

        </mat-card-content>
    </div>

</div>


<!-- <div style="width:100%; height: auto; margin-top: 1%; " fxLayoutAlign="space-between">

        <mat-card style="background: #1b9be6" (click)="openDialogDetailsUser()">
            <mat-card-header style="color: #e9eef1">
                <h1>Usuarios en Jornada Laboral</h1>
            </mat-card-header>

            <mat-card-content fxLayoutAlign="center center">
                <div fxLayoutAlign="right right">
                    <button style="background: rgb(126, 192, 27); margin-right: 4%;" mat-raised-button color="accent" matBadge="4" matBadgePosition="after" matBadgeColor="warn">
                        <h2> Activos</h2>
                    </button>
                    <button style="background: rgb(104, 103, 103); margin-left: 4%;" mat-raised-button color="accent" matBadge="4" matBadgePosition="after" matBadgeColor="warn">
                        <h2>Inactivos</h2>
                    </button>
                </div>
            </mat-card-content>

            <div>
                <mat-card-footer style="color: #1da1f2; background-color: #fcfcfc">
                    <h3>Fecha de actualización: 10/05/2021</h3>
                </mat-card-footer>
            </div>
        </mat-card>

        <b><hr></b> -->

<!-- <div>
            <div fxLayoutAlign="center center">
                <mat-form-field appearance="fill" style="width: 50%;">
                    <mat-label>Tipo de Alerta</mat-label>
                    <mat-select>
                        <mat-option value="one">Detección de Apps no autorizadas</mat-option>
                        <mat-option value="two">Detección de usuarios en llamadas</mat-option>
                        <mat-option value="two">Detección de exceso de velocidad</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayoutAlign="center center">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="usuario">
                        <th mat-header-cell *matHeaderCellDef> Usuario </th>
                        <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                    </ng-container>


                    <ng-container matColumnDef="app">
                        <th mat-header-cell *matHeaderCellDef> App </th>
                        <td mat-cell *matCellDef="let element"> {{element.app}} </td>
                    </ng-container>


                    <ng-container matColumnDef="velocidad">
                        <th mat-header-cell *matHeaderCellDef> Velocidad </th>
                        <td mat-cell *matCellDef="let element"> {{element.velocidad}} </td>
                    </ng-container>


                    <ng-container matColumnDef="ubicacion">
                        <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                        <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef> Fecha </th>
                        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                    </ng-container>

                    <ng-container matColumnDef="hora">
                        <th mat-header-cell *matHeaderCellDef> Hora </th>
                        <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div> -->

<!-- <div style="margin: 5%;">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b>  Detección de Apps no autorizadas</b>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? '' : ''}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayoutAlign="center center">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="app">

                        <ng-container matColumnDef="usuario">
                            <th mat-header-cell *matHeaderCellDef> Usuario </th>
                            <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                        </ng-container>


                        <ng-container matColumnDef="app">
                            <th mat-header-cell *matHeaderCellDef> App </th>
                            <td mat-cell *matCellDef="let element"> {{element.app}} </td>
                        </ng-container>


                        <ng-container matColumnDef="velocidad">
                            <th mat-header-cell *matHeaderCellDef> Velocidad </th>
                            <td mat-cell *matCellDef="let element"> {{element.velocidad}} </td>
                        </ng-container>


                        <ng-container matColumnDef="ubicacion">
                            <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                            <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef> Fecha </th>
                            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                        </ng-container>

                        <ng-container matColumnDef="hora">
                            <th mat-header-cell *matHeaderCellDef> Hora </th>
                            <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b> Detección de usuarios en llamadas</b>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? '' : ''}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayoutAlign="center center">
                    <mat-form-field appearance="fill">
                        <mat-label>Select me</mat-label>
                        <mat-select>
                            <mat-option type="date">Option</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="center center">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="llamada">


                        <ng-container matColumnDef="usuario">
                            <th mat-header-cell *matHeaderCellDef> Usuario </th>
                            <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                        </ng-container>


                        <ng-container matColumnDef="app">
                            <th mat-header-cell *matHeaderCellDef> App </th>
                            <td mat-cell *matCellDef="let element"> {{element.app}} </td>
                        </ng-container>


                        <ng-container matColumnDef="velocidad">
                            <th mat-header-cell *matHeaderCellDef> Velocidad </th>
                            <td mat-cell *matCellDef="let element"> {{element.velocidad}} </td>
                        </ng-container>


                        <ng-container matColumnDef="ubicacion">
                            <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                            <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef> Fecha </th>
                            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                        </ng-container>

                        <ng-container matColumnDef="hora">
                            <th mat-header-cell *matHeaderCellDef> Hora </th>
                            <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b> Detección de exceso de velocidad</b>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? '' : ''}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayoutAlign="center center">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="app">

                        <ng-container matColumnDef="usuario">
                            <th mat-header-cell *matHeaderCellDef> Usuario </th>
                            <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                        </ng-container>

                        <ng-container matColumnDef="app">
                            <th mat-header-cell *matHeaderCellDef> App </th>
                            <td mat-cell *matCellDef="let element"> {{element.app}} </td>
                        </ng-container>

                        <ng-container matColumnDef="velocidad">
                            <th mat-header-cell *matHeaderCellDef> Velocidad </th>
                            <td mat-cell *matCellDef="let element"> {{element.velocidad}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ubicacion">
                            <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                            <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef> Fecha </th>
                            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                        </ng-container>

                        <ng-container matColumnDef="hora">
                            <th mat-header-cell *matHeaderCellDef> Hora </th>
                            <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div> -->

<!-- <div style="margin-top: 1%;">
        <div fxLayoutAlign="center center">
            <p>
                <button mat-raised-button color="accent" matBadge="4" matBadgePosition="after" matBadgeColor="warn" style="color:black">
                 <b> Reporte de Alertas</b>
                </button>
            </p>
        </div>

        <div fxLayoutAlign="center center">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


                <ng-container matColumnDef="usuario">
                    <th mat-header-cell *matHeaderCellDef> Usuario </th>
                    <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                </ng-container>


                <ng-container matColumnDef="app">
                    <th mat-header-cell *matHeaderCellDef> App </th>
                    <td mat-cell *matCellDef="let element"> {{element.app}} </td>
                </ng-container>


                <ng-container matColumnDef="velocidad">
                    <th mat-header-cell *matHeaderCellDef> Velocidad </th>
                    <td mat-cell *matCellDef="let element"> {{element.velocidad}} </td>
                </ng-container>


                <ng-container matColumnDef="ubicacion">
                    <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                    <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>

                <ng-container matColumnDef="hora">
                    <th mat-header-cell *matHeaderCellDef> Hora </th>
                    <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div> -->

<!-- <mat-card style="background: #e9eef1">
            <mat-card-header style="color: #1b9be6">
                <h1>Detección de Apps No Autorizadas</h1>
            </mat-card-header>

             <mat-card-content fxLayoutAlign="center center">
                <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
                    <ng-container matColumnDef="usuario">
                        <th mat-header-cell *matHeaderCellDef> Usuario </th>
                        <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                    </ng-container>


                    <ng-container matColumnDef="app">
                        <th mat-header-cell *matHeaderCellDef> App </th>
                        <td mat-cell *matCellDef="let element"> {{element.app}} </td>
                    </ng-container>


                    <ng-container matColumnDef="velocidad">
                        <th mat-header-cell *matHeaderCellDef> Velocidad </th>
                        <td mat-cell *matCellDef="let element"> {{element.velocidad}} </td>
                    </ng-container>


                    <ng-container matColumnDef="ubicacion">
                        <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                        <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef> Fecha </th>
                        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                    </ng-container>

                    <ng-container matColumnDef="hora">
                        <th mat-header-cell *matHeaderCellDef> Hora </th>
                        <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                </table> -->
<!-- <div>
                    <div fxLayoutAlign="right right">
                        <li style="margin-left: 8%; ">WhatsApp </li>
                        <img mat-card-image src="assets/images/logos/whatsapp.png " style="width: 6%; height: 6%; margin-left: 2%; margin-right: 5%;">
                        <p>Fecha: 10/05/2021</p>
                    </div>

                    <div fxLayoutAlign="right right">
                        <li style="margin-left: 8%; ">Instagram</li>
                        <img mat-card-image src="assets/images/logos/instagram.svg " style="width: 6%; height: 6%; margin-left: 2%; margin-right: 5%;">
                        <p>Fecha: 10/05/2021</p>
                    </div>

                    <div fxLayoutAlign="right right">
                        <li style="margin-left: 8%; ">Facebook</li>
                        <img mat-card-image src="assets/images/logos/facebook.png " style="width: 6%; height: 6%; margin-left: 2%; margin-right: 5%;">
                        <p>Fecha: 10/05/2021</p>
                    </div>
                </div> 
            </mat-card-content>-->

<!-- <div>
                <mat-card-footer style="color: #1da1f2; background-color: #fcfcfc">
                    <h3>Fecha de actualización: 10/05/2021</h3>
                </mat-card-footer>
            </div>
        </mat-card> -->

<!-- <mat-card style="background: #1b9be6">
            <mat-card-header fxLayoutAlign="center center" style="color: #fcfcfc">
                <h1>Detección de Usuarios en llamadas</h1>
            </mat-card-header>

            <mat-card-content fxLayoutAlign="center center">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="usuario">
                        <th mat-header-cell *matHeaderCellDef> Usuario </th>
                        <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                    </ng-container>


                    <ng-container matColumnDef="app">
                        <th mat-header-cell *matHeaderCellDef> App </th>
                        <td mat-cell *matCellDef="let element"> {{element.app}} </td>
                    </ng-container>


                    <ng-container matColumnDef="velocidad">
                        <th mat-header-cell *matHeaderCellDef> Velocidad </th>
                        <td mat-cell *matCellDef="let element"> {{element.velocidad}} </td>
                    </ng-container>


                    <ng-container matColumnDef="ubicacion">
                        <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                        <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef> Fecha </th>
                        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                    </ng-container>

                    <ng-container matColumnDef="hora">
                        <th mat-header-cell *matHeaderCellDef> Hora </th>
                        <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div fxLayoutAlign="right right">
                    <ul>
                        <li>Juan Gomez</li>
                        <li>José Perez</li>
                        <li>Alberto González</li>
                    </ul>

                    <ul>

                        <li>Duración: 45 min.</li>
                        <li>Duración: 45 min.</li>
                        <li>Duración: 45 min.</li>
                    </ul>

                    <ul>
                        <li>145 km/h</li>
                        <li>130 km/h</li>
                        <li>140 km/h</li>
                    </ul>
                </div> -->
<!-- </mat-card-content>

            <div>
                <mat-card-footer style="color: #1da1f2; background-color: #fcfcfc">
                    <h3>Fecha de actualización: 10/05/2021</h3>
                </mat-card-footer>
            </div>

        </mat-card> -->

<!-- <mat-card style="background: #e9eef1">
            <mat-card-header fxLayoutAlign="center center" style="color: #fcfcfc">
                <h1>Detección de exceso de velocidad</h1>
            </mat-card-header>

            <mat-card-content fxLayoutAlign="center center"> -->
<!-- <div fxLayoutAlign="center center">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="usuario">
                            <th mat-header-cell *matHeaderCellDef> Usuario </th>
                            <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                        </ng-container>


                        <ng-container matColumnDef="app">
                            <th mat-header-cell *matHeaderCellDef> App </th>
                            <td mat-cell *matCellDef="let element"> {{element.app}} </td>
                        </ng-container>


                        <ng-container matColumnDef="velocidad">
                            <th mat-header-cell *matHeaderCellDef> Velocidad </th>
                            <td mat-cell *matCellDef="let element"> {{element.velocidad}} </td>
                        </ng-container>


                        <ng-container matColumnDef="ubicacion">
                            <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                            <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef> Fecha </th>
                            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                        </ng-container>

                        <ng-container matColumnDef="hora">
                            <th mat-header-cell *matHeaderCellDef> Hora </th>
                            <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div> -->
<!-- <div fxLayoutAlign="right right">
                    <ul>
                        <li>Juan Gomez</li>
                        <li>José Perez</li>
                        <li>Alberto González</li>
                    </ul>

                    <ul>
                        <li>Ubicación: Eje central</li>
                        <li>Ubicación: Eje central</li>
                        <li>Ubicación: Eje central</li>
                    </ul>
                    <ul>
                        <li style="color: red">145 km/h</li>
                        <li style="color: red">130 km/h</li>
                        <li style="color: red">140 km/h</li>
                    </ul>
                </div> -->
<!-- </mat-card-content>

        <div>
            <mat-card-footer style="color: #1da1f2; background-color: #fcfcfc">
                <h3>Fecha de actualización: 10/05/2021</h3>
            </mat-card-footer>
        </div>

        </mat-card>

    </div> -->