<div style="width: 100%;">
    <div fxLayoutAlign="space-around center">
        <mat-card style=" margin-bottom: 2%; width: 100%; height: 50%;">
            <mat-card-header>
                <h1>Uso de Apps No Autorizadas</h1>
            </mat-card-header>
            <hr>
            <canvas width="550" height="100" baseChart [datasets]="lineChartData " [labels]="lineChartLabels " [chartType]="lineChartType "></canvas>
        </mat-card>
    </div>

    <div fxLayoutAlign="space-around center">
        <mat-card style=" margin-bottom: 2%; width: 40%; height: 50%;">
            <mat-card-header>
                <h1>Jornada Laboral</h1>
            </mat-card-header>
            <hr>
            <canvas width="400 " height="400 " baseChart [data]="doughnutChartData " [labels]="doughnutChartLabels " [chartType]="doughnutChartType ">
        </canvas>
        </mat-card>

        <mat-card style=" margin-bottom: 2%; width: 40%; height: 50%;">
            <mat-card-header>
                <h1>Uso de Apps No Autorizadas</h1>
            </mat-card-header>
            <hr>
            <div style="display: block">
                <canvas width="700 " height="400 " baseChart [datasets]="barChartData" [labels]="barChartLabels" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
            </div>
        </mat-card>
    </div>
</div>

<!-- <div style="width: 100%; height: 100%; margin: 1%;" fxLayoutAlign="center center">

    <div style="width: 100%; height: 100%;">

        <mat-card style="background: #e3f3fd;">

            <div>
                <div fxLayoutAlign="center center" style="margin-top: 1%; margin-bottom: 5%;">
                    <h1>Detalle de Actividad en Jornada Laboral</h1>
                </div>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


                    <ng-container matColumnDef="imageUrl">
                        <th mat-header-cell *matHeaderCellDef> Image Url </th>
                        <td mat-cell *matCellDef="let element"> <img [src]="element.imageUrl" /> </td>
                    </ng-container>

                    <ng-container matColumnDef="usuario">
                        <th mat-header-cell *matHeaderCellDef> Usuario </th>
                        <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>

                    </ng-container>

                    <ng-container matColumnDef="ingreso">
                        <th mat-header-cell *matHeaderCellDef> Fecha de Ingreso </th>
                        <td mat-cell *matCellDef="let element"> {{element.ingreso}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actividad">
                        <th mat-header-cell *matHeaderCellDef> Actividad en Teléfono </th>
                        <td mat-cell *matCellDef="let element"> {{element.actividad}} </td>
                    </ng-container>

                    <ng-container matColumnDef="velocidad">
                        <th mat-header-cell *matHeaderCellDef> Promedio de Velocidad </th>
                        <td mat-cell *matCellDef="let element"> {{element.velocidad}} </td>
                    </ng-container>

                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> Status Laboral </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon *ngIf="element.symbol" style="color: rgb(19, 168, 56);">check</mat-icon>
                            <mat-icon *ngIf="!element.symbol" style="color: rgb(255, 230, 5); background: black;">warning</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card>
    </div>
</div> -->